/* update Img // filde upload*/
.image-upload {
  position: relative;
  text-align: center !important;
}

.image-pic {
  /* background-image: url(../../../../public/user.png); */
}

.profile-pic {
  background-size: contain;
  border-radius: 100%;
  height: 80px;
  width: 80px;
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
  vertical-align: middle;
  text-align: center;
  color: transparent;
  transition: all 0.3s ease;
  text-decoration: none;
  cursor: pointer;
  background-color: white;
  position: relative;
}

.pro-icon {
  font-size: 15px;
  color: #fff;
  background-color: #FF6666;
  padding: 0;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  bottom: 0px;
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
}

.profile-pic:hover {
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10000;
  color: #fff;
  transition: all 0.3s ease;
  text-decoration: none;
}

.profile-pic span {
  display: inline-block;
  /* padding-top: 4.5em;
padding-bottom: 4.5em; */
}

form input[type="file"] {
  display: none;
  cursor: pointer;
}

.glyphicon-camera svg {
  position: absolute;
  right: 29%;
  width: 35px;
  top: 26%;
  color: white;
}

.profile-pic:hover svg {
  color: white;
  transition: all 0.3s ease;
}

.attached-pic {
  text-align: center;
  transition: all 0.3s ease;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  color: white;
  border: 1px solid;
  margin: 20px 0;
  background-color: #31abde;
  width: 200px;
  font-size: 13px;
  padding: 6px 0;
  border-radius: 5px;
}
