<section class="first-section">
  <div class="container">
    <div class="col-md-12 mt-4 black text-center">
      <h4 class="login-h">Sign Up</h4>
    </div>
    <div class="container main-cont">
      <div class="col-md-6 mt-4 second-cont-parent black">
        <div class="mt-3">
          <form
            [formGroup]="registerForm"
            (ngSubmit)="onRegister(registerForm)"
          >

            <div class="form-group mb-2">
              <label class="control-label label-margin"
                >I am a:
              </label>
              <label class="radio-inline ml-3 label-margin">
                <input
                  class="mr-3"
                  type="radio"
                  value="male"
                  formControlName="gender"
                />Male
              </label>
              <label class="radio-inline ml-3">
                <input
                  class="mr-3"
                  type="radio"
                  value="female"
                  formControlName="gender"
                />Female
              </label>
            </div>

            <div class="form-group mb-2">
              <input
                type="text"
                class="form-control"
                formControlName="username"
                placeholder="Name"
                [ngClass]="{
                  'is-invalid': f['username'].errors && f['username'].touched
                }"
              />

              <div *ngIf="f['username'].errors" class="invalid-feedback">
                <div *ngIf="f['username'].errors['required']">
                  Please choose a username
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="form-group">
                <input
                  [ngClass]="{
                    'is-invalid':
                      f['dateOfBirth'].errors && f['dateOfBirth'].touched
                  }"
                  class="form-control"
                  placeholder="Date of Birth"
                  formControlName="dateOfBirth"
                  type="text"
                  bsDatepicker
                  [bsConfig]="bsConfig"
                />
                <div
                  class="invalid-feedback"
                  *ngIf="
                    f['dateOfBirth'].touched &&
                    f['dateOfBirth'].hasError('required')
                  "
                >
                  Date of Birth is required
                </div>
              </div>
            </div>

            <div class="form-group">
              <input
                [ngClass]="{
                  'is-invalid': f['city'].errors && f['city'].touched
                }"
                class="form-control"
                placeholder="City"
                formControlName="city"
              />
              <div
                class="invalid-feedback"
                *ngIf="f['city'].touched && f['city'].hasError('required')"
              >
                City is required
              </div>
            </div>

            <div class="form-group">
              <input
                [ngClass]="{
                  'is-invalid': f['country'].errors && f['country'].touched
                }"
                class="form-control"
                placeholder="Country"
                formControlName="country"
              />
              <div
                class="invalid-feedback"
                *ngIf="
                  f['country'].touched && f['country'].hasError('required')
                "
              >
                Country is required
              </div>
            </div>

            <div class="form-group mb-2">
              <input
                type="password"
                formControlName="password"
                placeholder="Password"
                class="form-control"
                [ngClass]="{
                  'is-invalid': f['password'].errors && f['password'].touched
                }"
              />

              <div
                class="invalid-feedback"
                *ngIf="
                  f['password'].hasError('required') && f['password'].touched
                "
              >
                password is requierd
              </div>

              <div
                class="invalid-feedback"
                *ngIf="
                  f['password'].hasError('minlength') && f['password'].touched
                "
              >
                password must be at least 4 characters
              </div>

              <div
                class="invalid-feedback"
                *ngIf="
                  f['password'].hasError('maxlength') && f['password'].touched
                "
              >
                password must be at least 8 characters
              </div>
            </div>

            <div class="form-group mb-2">
              <input
                type="password"
                formControlName="confirmPassword"
                 placeholder="Confirm Password"
                class="form-control"
                minlength="4"
                [ngClass]="{
                  'is-invalid':
                    (f['confirmPassword'].errors &&
                      f['confirmPassword'].touched) ||
                    (f['confirmPassword'].touched &&
                      registerForm.hasError('mismatch'))
                }"
              />
              <div
                class="invalid-feedback"
                *ngIf="
                  f['confirmPassword'].hasError('required') &&
                  f['confirmPassword'].touched
                "
              >
                password is required
              </div>
              <div
                class="invalid-feedback"
                *ngIf="
                  registerForm.hasError('mismatch') &&
                  f['confirmPassword'].touched
                "
              >
                passwords must match
              </div>
            </div>

            <div class="form-group text-center">
              <button class="btn btn-success m-1" type="submit">
                Register
              </button>
              <button
                class="btn btn-default m-1"
                type="button"
                (click)="canceled()"
              >
                Cancel
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
