.second-cont-parent {
  text-align: left;
  background-color: #fff;
  border-radius: 35px;
  padding: 26px;
  box-shadow: 1px 1px 8px #d6d6d6;
  margin: auto;

}

/* .main-cont{
  display: flex;
  justify-content: center;
  text-align: right;
} */
.btn-reg {
  background-color: #FF6666;
  font-size: 13px;
  padding: 10px 15px;
  color: #fff;
}

.btn-s {
  border-radius: 5px;
  border: none;
  padding: 12px;
  background-color: #ff9f3f;
}

.btn-s:hover {
  border-radius: 5px;
  border: none;
  padding: 12px;
  background-color: #ff9f3f;
  box-shadow: 1px 1px 8px rgba(127, 137, 161, 0.3);
  transform: scale(1.02);
  transition: all 0.3s ease-in-out;
}

/* update Img // filde upload*/
.image-upload {
  position: relative;
  text-align: center !important;
}

.image-pic {
  /* background-image: url(../../../../public/user.png); */
  background-image: none;
}

.profile-pic {
  background-size: contain;
  border-radius: 100%;
  height: 80px;
  width: 80px;
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
  vertical-align: middle;
  text-align: center;
  color: transparent;
  transition: all 0.3s ease;
  text-decoration: none;
  cursor: pointer;
  background-color: white;
  position: relative;
}

.pro-icon {
  font-size: 15px;
  color: #fff;
  background-color: #FF6666;
  padding: 0;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  bottom: 0px;
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
}

.profile-pic:hover {
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10000;
  color: #fff;
  transition: all 0.3s ease;
  text-decoration: none;
}

.profile-pic span {
  display: inline-block;
  /* padding-top: 4.5em;
padding-bottom: 4.5em; */
}

form input[type="file"] {
  display: none;
  cursor: pointer;
}

.glyphicon-camera svg {
  position: absolute;
  right: 29%;
  width: 35px;
  top: 26%;
  color: white;
}

.profile-pic:hover svg {
  color: white;
  transition: all 0.3s ease;
}

.attached-pic {
  text-align: center;
  transition: all 0.3s ease;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  color: white;
  border: 1px solid;
  margin: 20px 0;
  background-color: #31abde;
  width: 200px;
  font-size: 13px;
  padding: 6px 0;
  border-radius: 5px;
}

.attached-pic:hover {
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10000;
  color: #fff;
  transition: all 0.3s ease;
  text-decoration: none;
}

.attached-pic span {
  display: inline-block;
  /* padding-top: 4.5em;
padding-bottom: 4.5em; */
}

form input[type="file"] {
  display: none;
  cursor: pointer;
}

.glyphicon-camera svg {
  position: absolute;
  right: 29%;
  width: 35px;
  top: 26%;
  color: white;
}

.attached-pic:hover svg {
  color: white;
  transition: all 0.3s ease;
}

/* END attached Img // filde upload*/

.btn-send {
  color: white;
  border: none;
  margin-bottom: 20px;
  background-color: #ff9f3f;
  width: 200px;
  font-size: 13px;
  padding: 6px 0;
  border-radius: 5px;
}

.btn-send:hover {
  border-radius: 5px;
  border: none;
  /* padding: 12px; */
  background-color: #ff9f3f;
  box-shadow: 1px 1px 8px rgba(127, 137, 161, 0.3);
  transform: scale(1.02);
  transition: all 0.3s ease-in-out;
}

.footer-note {
  border-bottom: 1px solid #000;
  font-size: 15px;
}

/* input[type="time"] {
  color: #2a2c2d;
  text-align: center;
  font-family: sans-serif;
  font-size: 20px;
}
input[type="date"] {
  color: #2a2c2d;
  text-align: center;
  font-family: sans-serif;
  font-size: 17px;
  text-transform: uppercase;
  border-radius: 3px;
  height: 38px;
  text-align: right;
  padding: 0 15px;
} */

input:focus,
select:focus,
textarea:focus,
button:focus {
  border: 1px solid #FF6666;
}

.form-group {
  margin-bottom: 10px;
}

/* input[type="date"]::-webkit-calendar-picker-indicator {
  position: absolute;
  top: 43px;
  left: 10px;
} */

.form-group select, 
.form-group input, 
.form-group textarea {
    text-align: left;
    border: 1px solid #dadada;
    /* height: 50px; */
    margin-top: 15px;
}
.label-margin{
  margin-right: 10px;
}